<div>
<h2 class="f3 texttransform-uppercase textalign-center letterspacing-tracked marginbottom-xlarge">About us</h2>
	<div class="measure center paddinghorizontal-medium">
	<h3 class="textalign-center margintop-xlarge">What is DIY Transparency Report?</h3>
<p>DIY Transparency Report is a tool which assists small- and mid-sized organizations produce holistic transparency reports. Using the tool, organizations can rapidly produce standardizable data retention guides, government request handbooks, and government requests reports.</p>
		<h3 class="textalign-center margintop-xlarge">Who are we?</h3>
		<p>DIY Transparency Report is a joint project by Open Effect and the Telecom Transparency Project.</p>
		<ul>
		<li><strong>The Telecom Transparency Project</strong> investigates how telecommunications data is monitored, collected, and analyzed for commercial, state security, and intelligence purposes. The Project is associated with the Citizen Lab, an interdisciplinary laboratory based at the Munk School of Global Affairs, University of Toronto. The Citizen Lab focuses on advanced research and development at the intersection of information and communications technologies, human rights, and global security.</li>
		<li><strong>Open Effect</strong> is a Canadian not-for-profit that conducts research and advocacy focused on ensuring people’s personal data is treated securely and accountably. It uses a mix of policy and technical analysis methods to explore how digital services use personal data. Open Effect builds interactive advocacy tools to disseminate its work and empower individuals to learn about and exercise their rights online.</li>
	</ul>
		<p>This project was funded through the Canadian Internet Registration Authority’s .CA Community Investment Program. Through the Community Investment Program, .CA funds projects that demonstrate the capacity to improve the Internet for all Canadians. The .CA team manages Canada’s country code top-level domain on behalf of all Canadians. A Member-driven organization, .CA represents the interests of Canada’s Internet community internationally.</p>
		
		<h3 class="textalign-center margintop-xlarge">Our Mission</h3>
<p>To empower small- and mid-sized organizations to become transparent concerning their collection and stewardship of personal information. </p>

<h3 class="textalign-center margintop-xlarge">Funding Acknowledgement</h3>
<p>This project was funded through the Canadian Internet Registration Authority’s .CA Community Investment Program. Through the Community Investment Program, .CA funds projects that demonstrate the capacity to improve the Internet for all Canadians. The .CA team manages Canada’s country code top-level domain on behalf of all Canadians. A Member-driven organization, .CA represents the interests of Canada’s Internet community internationally.
</p><p><img src="images/cira-logo.png" alt="CIRA"></p>
	</div>
	</div>