<div class="container center">
	<h2 class="f3 texttransform-uppercase textalign-center letterspacing-tracked marginbottom-xlarge">Manage Report Setup</h2>
	<p>The DIY Transparency Reporting tool relies on different data categories to collate the kinds of information retained, to describe how an organization responds to government access requests, and to explain how often and with what effect it receives requests. Each of the reporting types associated with this tool are defined in the accompanying Guide [Link out to place in future]. Users can add new categories and responses for the types of reports in the ‘Manage Report Setup’ section. These categories and responses can be added when generating a report, but can only be deleted from this section.</p>
	<h3>Data Retention Guide</h3>
		<a href="#/categories">Manage data retention categories</a>
	<h3>Government Request Handbook</h3>
	<a href="#/lea-categories">Manage handbook guideline categories</a>
	<h3>Government Requests Report</h3>
		<a href="#/gov-request-categories">Manage government request categories</a><br>
		<a href="#/gov-request-responses">Manage government request reporting categories</a>
	
</div>