<div class="container center">
<p><a ng-href="{{gov_request_categoryPath}}">Back to Government Request Category overview</a></p>
	<form>
	<h2 ng-if="isCreating">Create new Government Request Type</h2>
	<h2 ng-if="!isCreating">Government Request Type {{gov_request_type.type_id}}</h2>

	<p><label>Name: <input ng-model="gov_request_type.name" required></label></p>
	<p><label>Description: <textarea ng-model="gov_request_type.description" required class="width-100p height-xxlarge"></textarea></label></p>

	<p><button ng-click="save()" class="button button-default">Save</button></p>
	</form>
</div>