<div>
	<h2 class="f3 texttransform-uppercase textalign-center letterspacing-tracked marginbottom-xlarge">FAQ</h2>
	<div class="measure center paddinghorizontal-medium">
		<p class="b">Q: Why is transparency reporting important?</p>

<p>A: Organizations are increasingly expected to be careful and thoughtful stewards of their subscribers and users’ personal information. Holistic transparency reporting practices are one way for responsible organizations to showcase their commitment to protecting and responsibly disclosing information to government agencies. The DIY Transparency Reporting tool helps small- and medium-sized organizations more easily generate these kinds of reports, thus reducing some of the friction entailed in research, developing, and publishing information about how a company retains data, is willing to disclose data to government agencies, and explain how often and for what reasons government agencies request information.</p>

<div class="height-xxxsmall backgroundcolor-lightsilver marginvertical-large width-100p"></div>

<p class="b">Q: Why might reporting benefit my business?</p>

<p>A: Holistic transparency reports help organizations, first and foremost, have an understanding of their data inventory, processes in place to respond to government agencies’ requests to access data those agencies think an organization possesses, and a way of publicizing the regularity at which such requests are made. By publishing all of this information customers, as well, can understand that an organization is only collecting information as required to provide professional services or goods and that any and all disclosures of data to government agencies follows from a defined and responsible process. This can enhance trust with consumers who might otherwise be hesitant to use an organization’s services or purchase their products on privacy grounds.</p>

<div class="height-xxxsmall backgroundcolor-lightsilver marginvertical-large width-100p"></div>

<p class="b">Q: Why might reporting benefit my users or subscribers?</p>

<p>A: Customers benefit from holistic transparency reports by understanding, in plain language, how businesses collect and protect consumers’ information. Privacy policies can be challenging to understand and particularly opaque when it comes to understanding how organizations respond to government agencies’ lawful requests for consumers’ information. By consulting a holistic transparency report consumers can be assured that only information that is needed to provide a service or product are being collected and that businesses require government agencies to meet certain criteria before any data is released. Finally, consumers can be satisfied that government agencies are adequately scoping their requests by consulting the regularity at which government agencies actually request, and receive, data controlled by the organization. </p>

<div class="height-xxxsmall backgroundcolor-lightsilver marginvertical-large width-100p"></div>

<p class="b">Q: Why does developing an organizational data retention guideline matter from a cybersecurity standpoint?</p>

<p>A: Organizations suffer intrusions and data breaches on a regular basis. Should your organization suffer an intrusion or breach, knowing what data you retain and for how long, and even in which systems, may help to ascertain the number of subscribers or users who have been affected. </p>
<p>Parliament has passed data breach legislation though the breach notification requirements have not come into force as of June 2016. However, organizations will be obligated to disclose when a breach occurs and its severity once that legislation is in force. An organizational data retention guideline may accelerate such analysis and reduce the costs of dealing with a future intrusion or breach.</p>

<div class="height-xxxsmall backgroundcolor-lightsilver marginvertical-large width-100p"></div>


<p class="b">Q: Will I get more requests from government agencies if I publish a transparency report?</p>

<p>A: There is no reason why publishing a transparency report will result in additional requests from government agencies. In fact, by clarifying the conditions under which your organizations will, or will not, disclose information and the regularity at which you are compelled to do so, you may see fewer requests (e.g. you may receive fewer requests for information absent court orders or statutory authorities, if your organization requires court orders or statutory authority before providing data in response to any request.)</p>

<div class="height-xxxsmall backgroundcolor-lightsilver marginvertical-large width-100p"></div>

<p class="b">Q: What do I do when I think a court order for data held or controlled by my organization is overbroad?</p>

<p>A: If you believe that a government authority is requesting more data than is appropriate you should contact competent counsel.</p>

<div class="height-xxxsmall backgroundcolor-lightsilver marginvertical-large width-100p"></div>

<p class="b">Q: How much money can I charge for helping government agencies access data about my customers or users?</p>

<p>A: The amounts of money you can request for assisting government agencies varies based on which type of agency (e.g. domestic or foreign) is making the request and sometimes based on the powers (and accompanying authorizing legislation) being invoked. Competent counsel can help your organization develop specific fee schedules if they are needed.</p>

<div class="height-xxxsmall backgroundcolor-lightsilver marginvertical-large width-100p"></div>

<p class="b">Q: What does the government think of me issuing these kinds of guidelines?</p>

<p>A: The Office of the Privacy Commissioner of Canada, along with other international privacy and data protection commissioners, supports organizations releasing both government information/assistance request reports and government agency requests guidelines.</p>
	</div>

</div>