<div>
	<h2 class="f3 texttransform-uppercase textalign-center letterspacing-tracked marginbottom-xlarge">Welcome to DIY Transparency Report</h2>
	<div class="measure center paddinghorizontal-medium">
		<p>
			Have you wanted to create a transparency report but haven’t been sure how? Interested in what is involved in creating a data retention guide? Want to figure out a policy for when or if government agencies request access to your organization's data? Need a way to report on how often government agencies are asking your organization for information? The DIY Transparency Report tool will help you with all these organizational tasks.
		</p>
	</div>

	<div class="textalign-center clear-both clearfix">
		<a href="#/reports" class="button button-default verticalalign-top width-xxxlarge marginhorizontal-small margintop-large">
			<div class="b f4">Manage transparency reports</div>
		</a>
		<a href="#/create-report" class="button button-default verticalalign-top width-xxxlarge marginhorizontal-small margintop-large">
			<div class="b f4">Create new transparency report</div>
		</a>
<!-- 		<a href="#/reports" class="button button-default verticalalign-top width-xxxlarge marginhorizontal-small margintop-large">
			<div class="b f4">See completed reports</div>
		</a> -->
	</div>
	<div class="container-wide paddinghorizontal-medium paddinghorizontal-none-ns margintop-large margintop-xlarge-ns center verticalalign-center textalign-center clearfix">
    <div>
        <p class="f5 b display-inlineblock marginbottom-medium">DIY Transparency Report is a project created by members of</p>
    </div>
    <a href="https://telecomtransparency.org/">
        <img class="display-block display-inline-ns height-large marginhorizontal-auto marginvertical-medium marginhorizontal-medium-ns paddingvertical-medium" src="images/ttp-cmyk.png" alt="Telecom Transparency Project">
    </a>
    <a href="https://citizenlab.org/">      
        <img class="display-block display-inline-ns height-xlarge marginhorizontal-auto marginvertical-medium marginhorizontal-medium-ns" src="images/citizen-lab-logo.png" alt="Citizen Lab">
    </a>
    <a href="https://openeffect.ca/">
        <img class="display-block display-inline-ns height-large marginhorizontal-auto marginvertical-medium marginhorizontal-medium-ns paddingvertical-medium" src="images/open-effect-logo.png" alt="Open Effect">
    </a>
</div>
</div>