{% extends "layout.html" %}
{% block body %}
<h1>Data Retention Guide</h1>
<p>Data retention guides provides information about how long organizations retain information that is in their possession. Such guides can help companies rapidly identify to third-parties, including users and government agencies, whether they possess information of interest to those parties. Moreover, by possessing a data retention guide an organization can demonstrate its compliance with Canadian privacy law.</p>

<h2>About this guide</h2>
<p>
	{{guide.narrative}}
</p>

<h2>Data Retained</h2>

{% for category in guide.data_categories %}
	{% if category.inclusion_status %}
		<h3>{{category.name}}</h3>
		<ul>
		{% for item in category['items'] %}
			{% if item.inclusion_status %}
				<li>
					<strong>{{item.name}}</strong>{% if item.retention_period and item.retention_period_unit %}: Retained for {{item.retention_period}} 
					{% if item.retention_period_unit == "1" and item.retention_period > 1 %} 
						Years
					{% elif item.retention_period_unit == "2" and item.retention_period > 1 %}  
						Months
					{% elif item.retention_period_unit == "3" and item.retention_period > 1 %} 
						Weeks
					{% elif item.retention_period_unit == "4" and item.retention_period > 1 %}  
						Days
					{% elif item.retention_period_unit == "5" and item.retention_period > 1 %}  
						Hours
					{% elif item.retention_period_unit == "6" and item.retention_period > 1 %} 
						Minutes
					{% elif item.retention_period_unit == "7" and item.retention_period == 1 %} 
						Seconds
					{% elif item.retention_period_unit == "1" and item.retention_period == 1 %} 
						Year
					{% elif item.retention_period_unit == "2" and item.retention_period == 1 %}  
						Month
					{% elif item.retention_period_unit == "3" and item.retention_period == 1 %} 
						Week
					{% elif item.retention_period_unit == "4" and item.retention_period == 1 %}  
						Day
					{% elif item.retention_period_unit == "5" and item.retention_period == 1 %}  
						Hour
					{% elif item.retention_period_unit == "6" and item.retention_period == 1 %} 
						Minute
					{% elif item.retention_period_unit == "7" and item.retention_period == 1 %} 
						Second
					{% endif %}
					{% endif %}
					{% if item.description %}
						<br><small>{{item.description}}</small>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	{% endif %}
{% endfor %}
{% endblock %}