{% extends "layout.html" %}
{% block body %}
<h1>Data Retention Guide</h1>
<p>Data retention guides provides information about how long organizations retain information that is in their possession. Such guides can help companies rapidly identify to third-parties, including users and government agencies, whether they possess information of interest to those parties. Moreover, by possessing a data retention guide an organization can demonstrate its compliance with Canadian privacy law.</p>

<h2>About this guide</h2>
<p>
	{{guide.narrative}}
</p>

<h2>Data Retained</h2>

{% for category in guide.data_categories %}
	{% if category.inclusion_status %}
		<h3>{{category.name}}</h3>
		<ul>
		{% for item in category['items'] %}
			{% if item.inclusion_status %}
				<li>
					{{item.name}}
					{% if item.retention_period and item.retention_period_unit %}
					 retained for {{item.retention_period}} 
					{% if item.retention_period_unit == "1" %} 
						Years
					{% elif item.retention_period_unit == "2" %}  
						Months
					{% elif item.retention_period_unit == "3" %} 
						Weeks
					{% elif item.retention_period_unit == "4" %}  
						Days
					{% elif item.retention_period_unit == "5" %}  
						Hours
					{% elif item.retention_period_unit == "6" %} 
						Minutes
					{% elif item.retention_period_unit == "7" %} 
						Seconds
					{% endif %}
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	{% endif %}
{% endfor %}
{% endblock %}